<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="bookRepository" class="com.springdto.repository.BookRepositoryImpl" />
    
    <bean id="bookService" class="com.springdto.service.BookServiceImpl">
        <constructor-arg ref="bookRepository" />
    </bean>

    <bean id="bookController" class="com.springdto.controller.BookController">
        <constructor-arg ref="bookService" />
    </bean>
</beans>